@model ProjectForTesting.Models.CalendarModel
<link href="/content/css/calendar.css" rel="stylesheet" />

@{
    var datedisplay = DateTime.Now;
    if (Model != null && Model.Date != null)
    {
        datedisplay = Model.Date;
    }

    var monthdisplay = datedisplay.ToString("MMMM");
    var yeardisplay = datedisplay.Year;
    var listMonths = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthGenitiveNames;
    var yearDec = yeardisplay / 10 * 10;
}


<div class="calendar-box" id="calendar-box-id">
    <div class="nav-calendar flex-center-between">

        <div class="nav-part-calendar">
            <span class="arrow-calendar" id="arrow-calendar-month-left">
                <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.36914 17L1.36914 9L9.36914 1" stroke="#444F51" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>

            <div class="month-calendar">
                <div class="current-month-calendar" id="month-calendar-id" data-month-order=@(datedisplay.Month - 1)>
                    @monthdisplay
                </div>
                <div class="month-calendar-select-wrap">
                    <div class="month-calendar-select">
                        @for (int i = 0; i < 12; i++)
                        {
                            <span class="month-calendar-item @(i + 1 == datedisplay.Month ? "month-calendar-item-active" : "")" data-month-order="@i">@listMonths[i]</span>
                        }
                    </div>
                </div>
            </div>

            <span class="arrow-calendar" id="arrow-calendar-month-right">
                <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.36914 17L9.36914 9L1.36914 1" stroke="#444F51" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
        </div>

        <div class="nav-part-calendar">
            <span class="arrow-calendar" id="arrow-calendar-year-left">
                <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.36914 17L1.36914 9L9.36914 1" stroke="#444F51" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>

            <div class="year-calendar">
                <div class="current-year-calendar" id="year-calendar-id">
                    @yeardisplay
                </div>
                <div class="year-calendar-select-wrap">
                    <div class="year-calendar-select">
                        <span class="year-calendar-item year-calendar-previous" id="year-calendar-previous-id">@(yearDec - 10) - @yearDec</span>
                        @for (int i = yearDec; i <= yearDec + 10; i++)
                        {
                            <span class="year-calendar-item year-calendar-center @(i == yeardisplay ? "year-calendar-item-active" : "")">@i</span>
                        }
                        <span class="year-calendar-item year-calendar-next" id="year-calendar-next-id">@(yearDec + 10) - @(yearDec + 20)</span>
                    </div>
                </div>
            </div>

            <span class="arrow-calendar" id="arrow-calendar-year-right">
                <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.36914 17L9.36914 9L1.36914 1" stroke="#444F51" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>

        </div>
    </div>

    <div class="days-title">
        <span class="days-title-item">S</span>
        <span class="days-title-item">M</span>
        <span class="days-title-item">T</span>
        <span class="days-title-item">W</span>
        <span class="days-title-item">T</span>
        <span class="days-title-item">F</span>
        <span class="days-title-item">S</span>
    </div>

    <div class="calendar-line"></div>
    <time id="trans-data-to-front" datetime="@datedisplay.ToString("yyyy/MM/dd")" hidden></time>
    <div class="days-items">
        @for (int i = 1; i <= 6; i++)
        {
            <div class="days-items-line">
                @for (int j = 1; j <= 7; j++)
                {
                    <span class="days-item-frame"></span>
                }
            </div>
        }
    </div>
</div>